<section class="flex flex-col md:flex-row gap-8 justify-center items-center">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-400 [&>p>strong]:font-semibold text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Edier Gama pero mis amigos me llaman Santiago. Empecé en la
      programación en el colegio, a los 15 años. Actualmente estoy <strong
        >mejorando cada dia mis habilidades de manera autonoma</strong
      >.
    </p>

    <p>
      Algunos de mis éxitos incluyen <strong
        >Ganar el premio a mejor proyecto productivo SENA 2021</strong
      >
    </p>

    <p>
      Como persona mi objetivo es nunca parar de aprender<strong
        > actualmente aparte de estudiar desarrollo web también estudio areas como <em class="italic">Inteligencia Artificial</em> en Platzi</strong
      >. Mi objetivo al desarrollar una nueva app es impactar de forma positiva en los usuarios con mis diseños
    </p>
  </div>
  <img src="../../public/me.jpg" class="rounded-full size-64 order-1 md:order-2" />
</section>



<style>
  section {
    position: relative;
    top: 120px;
  }
</style>