---
const { content: content, query: query } = Astro.props;
---

<a href={query}>{content}</a>

<style>
  a {
    margin-left: 30px;
    text-decoration: none;
    color: black;
  }

  a {
    transition:
      0.5s,
      color 0.1s;
    -webkit-transition:
      0.5s,
      color 0.1s;
    -moz-transition:
      0.5s,
      color 0.1s;
  }
  a:hover {
    transform: scale3d(1, 1, 0.3);
    -webkit-transform: scale3d(1.1, 1.1, 0.3);
    -moz-transform: scale3d(1.1, 1.1, 0.3);
  }
</style>
