---
import Anchor from "./anchor.astro";
import { Image } from "astro:assets";
import githubLogo from "../../public/images/github_logo.png";
import linkedinLogo from "../../public/images/linkedin_logo.png";
---

<header>
  <nav class="navbar">
    <Anchor content="Experience" query="#experience" />
    <Anchor content="About me" query="#about" />
    <Anchor content="Studies" query="#studies" />
  </nav>
  <div id="social-media-links">
    <img src={githubLogo.src} alt="logo de github" />
    <a href="https://github.com/Edier-Gama">GitHub</a>
    <img src={linkedinLogo.src} alt="logo de linkedin" />
    <a href="https://linkedin.com/in/ediergama/">Linkedin</a>
  </div>
  <section class="main_section">
    <h1>Edier Santiago Gama</h1>
    <h2>Software <b>Developer</b> especialized in <b>Web Development</b></h2>
    <p>
      Web Developer with <b>3 years of experience</b> working in personal
      projects that includes all software cycle as / Desing / Development /
      Testing / DevOps
    </p>
  </section>
</header>

<style>
  @font-face {
    font-family: "Gabarito";
    src: url("../../font/Gabarito-VariableFont_wght.ttf");
  }
  nav {
    position: absolute;
    display: flex;
    justify-content: left;
  }
  h1 {
    font-size: 4.5rem;
    font-family: "Gabarito";
  }
  b {
    color: rgb(0, 90, 234);
  }

  p {
    font-size: 1.2rem;
  }
  .main_section {
    max-width: 70%;
    margin: 2.5%;
    margin-top: 10%;
  }
  #social-media-links {
    display: flex;
    justify-content: right;
  }

  a {
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
  img {
    width: 30px;
    position: relative;
    top: -5px;
    right: -5px;
  }

  a {
    transition:
      0.5s,
      color 0.1s;
    -webkit-transition:
      0.5s,
      color 0.1s;
    -moz-transition:
      0.5s,
      color 0.1s;
  }
  a:hover {
    color: rgb(67, 67, 67);
  }
</style>
