---
import Navbar from "./Navbar.astro";
import SocialPill from "./SocialPill.astro";
import GitHubIcon from "./icons/Github.astro"
import LinkedInIcon from "./icons/LinkedIn.astro"
import MailIcon from "./icons/Mail.astro"
---

<header>
  <nav class="navbar">
    <Navbar/>
  </nav>
  <div id="social-media-links">
  <section class="main_section">
    <h1
    class="text-gray-900 dark:text-white text-3xl md:text-4xl lg:text-5xl font-bold flex gap-x-4 pb-6 lg:pb-10"
    >
    I'm Edier Gama
    <h1/>
    <h2
        class="text-xl lg:text-2xl text-balance max-w-[700px] text-black dark:text-white"
      >
        <span>+ 3 años de experiencia como desarrollador web independiente</span><span
          class="text-yellow-800 dark:text-yellow-200"
        >.
          Diseñador Web y estudiante de Inteligencia Artificial</span
        >
        .<span class="text-red-800 dark:text-red-200">
          De Bogotá, Colombia</span
        >.
        <span class="text-sky-800 dark:text-sky-200"
          >Especializado en crear aplicaciones únicas.</span
        >
      </h2>
      <div class="flex gap-4 mt-8 flex-wrap">
        <SocialPill href="https://linkedin.com/in/ediergama">
          <LinkedInIcon class="size-4 md:size-6" />
          LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/Edier-Gama">
          <GitHubIcon class="size-4 md:size-6" />
          GitHub
        </SocialPill>
        <SocialPill href="ediersantiago7@gmail.com">
          <MailIcon class="size-4 md:size-6" />
          ediersantiago7@gmail.com
        </SocialPill>
      </div>
  </section>
</header>
 
<style>
  h1 {
    font-size: 3rem;
    margin: 5px;
  }
  p {
    font-size: 1.2rem;
  }
  .main_section {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 10%;
  }
  #social-media-links {
    display: flex;
    justify-content: right;
  }
</style>
