<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>ediergama portfolio</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  @font-face {
    font-family: "Geist Sans";
    src: url("../../font/Geist-Regular.otf");
  }
  html {
    margin: 30px;
  }
  body {
    margin: 0 auto;
    max-width: 1200px;
    box-sizing: border-box;
    font-family: "Geist Sans";
    background-color: #ebebeb;
    color: rgb(29, 29, 29);
    height: 1000px;
  }
</style>
