---
import '@fontsource-variable/onest'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>ediergama portfolio</title>
  </head>
  <body>
      <slot />
  </body>
</html>
<style is:global>
  :root {
    color-scheme: light dark;
  }

  html {
    font-family: "Onest Variable", system-ui, sans-serif;
    scroll-behavior: smooth;
    padding: 10px;
  }

  body {
    color: rgba(17, 17, 17, 0.9);
    flex-direction: column;
    min-height: 100vh;
    overscroll-behavior: none;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
  }

  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }

  @media (prefers-color-scheme: dark) {
    body {
      color: rgba(255, 255, 255, 0.9);
    }
  }
</style>
